@import "tailwindcss";

:root {
  /* On force des couleurs claires */
  --background: #f3f4f6; /* C'est le gris-100 de Tailwind */
  --foreground: #111827; /* C'est le gris-900 */
}

/* On retire la partie @media (prefers-color-scheme: dark) pour empêcher le mode nuit */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}